@charset "UTF-8";
/* CSS Document */

/* Testing Styles */
.black {
	border:solid medium black;
	min-height:100px;
}
.red {
	background-color: red;
}

/* Structural Styles */
.fm-header {
	height:125px;
}

.fm-feature {
	min-height:500px;
}

.fm-card {
	border: solid medium lightgray;
	min-height: 485px;
	margin-top:70px;
}

.fm-login {
	margin-top:70px;
	min-height:315px;
}

.fm-home-memopt {
	margin-top:70px;
	min-height:400px;
}

.fm-user-info {
	min-height:700px;
}

.fm-cost-over {
	min-height:700px;
}

.fm-memberoptions {
}

	.fm-create-acct {
		min-height: 600px;
	}
	.fm-bus-gold {
		min-height: 250px;
	}
	.fm-bus-free {
		min-height: 150px;
	}
	.fm-per-free {
		min-height: 150px;
	}


.fm-footer {
	min-height:70px;
	margin-top:155px;
}
