@charset "UTF-8";
/* CSS Document */

#container {
	width: 960px;
	margin:0 auto;
}

code {
	display: block;
	background-color: #DAE6EA;
	padding: 30px 10px 10px 10px;
}

.small-button{
	width: 120px;
}

.medium-button{
	width: 150px;
}

.large-button{
	width: 280px;
}

.orange-button {
  font-family: Museo Slab;
  font-weight:500;	
  color: #ffffff;
  font-size: 13px;
  height: 30px; 
  background: #F68A21;
  text-align: center;
  text-decoration: none;
}

.orange-button:hover {
  background: #fbbe94;
  text-decoration: none;
}

.green-button {
  font-family: Museo Slab;
  font-weight: 500;	
  color: #ffffff;
  font-size: 13px;
  height: 30px;
  background: #5CB447;
  text-align: center;
  text-decoration: none;
}

.green-button:hover {
  background: #b4d5a0;
  text-decoration: none;
}

.blue-button {
  font-family: Museo Slab;
  font-weight: 500;	
  color: #ffffff; 
  font-size: 13px;
  height: 30px;
  background: #6fb4e3;
  text-align: center;
  text-decoration: none;
}

.blue-button:hover {
  background: #b3dbea;
  text-decoration: none;
}

.grey-button {
  font-family: Museo Slab;
  font-weight: 500;	
  color: #ffffff; 
  font-size: 13px;
  height: 30px;
  background: #7a7a7a;
  text-align: center;
  text-decoration: none;
}

.grey-button:hover {
  background: #adadad; 
  text-decoration: none;
}
